@import 'reset.css';

body {
    padding: 50px;
    max-width: 1024px;
    margin: 0 auto;
}

.imageSection {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.imageSection img {
    background: #ddd;
    padding: 20px;
    margin: 20px;
    height: auto;
    flex: 0 0 40%;
    max-width: 40%;
}
